* {
    margin: 0;
}


body {
    height: 100vh;
    background: linear-gradient(38deg, rgb(140, 142, 202), #5d9cec94, #dda9cbd1);
    /* background-image: url("../assets/fon.jpg"); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

main {
    display: flex;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}

.tetrisWrapper {
    position: relative;
    padding: 7vh 3vw;
    background-color: black;
    border-radius: 3vw;
}

.grid, .next {
    
    display: grid;
    gap: 0.5vh;
    padding: 0.5vh;
}

.grid {
    grid-template-columns: repeat(10, auto);
    background-color: rgb(39, 23, 83);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 0.3vh;
}

.next {
    grid-template-columns: repeat(5, 3vh);
    width: 20vh;
    
}

.grid>div, .next>div {
    height: min(3vh, 5vw);
    width: min(3vh, 5vw);
    background-color: rgba(9, 9, 9, 0.2);
    border-radius: 0.3vh;
}

.next>div {
    background: none;
    border: none;
}

.figure {
    -webkit-box-shadow: inset 0.2vh 0.1vh 0.6vh 0.5vh rgba(0, 0, 0, 0.47);
    box-shadow: inset 0.2vh 0.1vh 0.6vh 0.5vh rgba(0, 0, 0, 0.47);
}

.logo {
width: 40vh;
/* transform: rotateX(90deg); */
}

.direction,
.table {
    display: flex;
    gap: 10vh;
    border: 1px solid black;
    padding: 1vh;
    border-radius: 1vh;
    margin-bottom: 3vh;
}

.table {
    flex-direction: column;
}
.scoreWrapper, .recordWrapper, .timeWrapper {
    display: flex;
    font-size: 3vh;
}

.notification {
    position: absolute;
    /* padding: 10px; */
    top: 50%;
    left: 50%;
    background: rgb(39, 23, 83);
    border-radius: 1vh;
    transform: translate(-50%, -50%);
    font-size: 4vh;
    text-wrap: nowrap;
    /* width: 100%; */
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .icon-play, */
.icon {
    width: 5vh;
    height: 5vh;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    background-color: #524cf0;
}

.icon svg{
fill:#271753;
}

.icon-play {
    /* background-color: rgb(39, 23, 83); */
    width: 5vh;
    height: 5vh;    
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}


.icon:hover,
.icon:focus,
.icon-play:hover,
.icon-play:focus {
    transform: scale(1.1);
}

.direction button,
.startButton,
.restartButton,
.volumeButton {
    border: none;
    /* border-radius: 50%; */
    background: none;
    cursor: pointer;
    outline: none;
}

.buttonWrapper {
    margin-bottom: 3vh;
}

.direction {
flex-direction: column;
width: 28vh;
height: 28vh;
gap: 0;
justify-content: space-between;
align-items: center   ;

}

/* .direction .icon {
    width: 8vh;
    height: 8vh;

} */

.directButton, 
.direction .icon {
    width: 8vh;
    height: 8vh;   
    padding: 0;
    border-radius: 50%;
}

.directionButtons {
    display: flex;
    justify-content: space-between;
    gap: 10vh;
}

